:root{
    --container-color: #BDCBDB;
    --button-color: #083366;
    --border-radius: 5px;
    --padding: 15px;
}

body {
    font-family: Helvetica;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Welcome{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    padding: 50px;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-link{
    width: 100%;
    background-color: #87A9DE;
    padding: var(--padding);
    text-align: center;
    border: 2px solid black;
}

#Books{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.Book{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-align: center;
    padding: var(--padding);
    background-color: var(--container-color);
    border-radius: var(--border-radius);
}

img{
    max-width: 200px;
    max-height: 300px;
}

.full-desc-container {
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--padding);
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    position: fixed;
    width: 50%;
}

.open-full-desc{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#Contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

form{
    width: 100%;
}

legend{
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 40%;
    box-shadow: 12px 12px 2px 1px rgb(255 0 0/ 0.2);
    padding: var(--padding);
}

#name{
    width: 20%;
    border-radius: var(--border-radius);
}

#email{
    width: 40%;
    border-radius: var(--border-radius);
}

#msg{
    width: 40%;
    border-radius: var(--border-radius);
}

button{
    font-size: 16px;
    padding: var(--padding);
    background-color: white;
    color: var(--button-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--button-color);
    transition: background-color 0.5s ease-in;
}

button:hover{
    background-color: var(--button-color);
    color: white;
}

#info{
    margin-top: 30px;
    padding: 50px;
    text-align: center;
    font-size: 13px;
    background-color: #001D3B;
    color: white;
}

a{
    color: black;
    transition: color 0.25s linear;
}

a:hover{
    color: #2A27F5;
}

@media (max-width: 600px) {
    #Books {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}